<a href="https://colab.research.google.com/github/Vishxl3113/Data-Structure/blob/main/Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **THEORY QUESTIONS**

###  Q1. What are data structures, and why are they important ?

Answer: Data structures are organized ways to store, manage, and retrieve data efficiently. They are important because they optimize data processing, enable problem-solving, and improve the performance of algorithms in software development.

### Q2. Explain the difference between mutable and immutable data types with examples ?

Answer: Mutable data types can be changed after creation, while immutable data types cannot.
For example: in Python, lists ([1, 2, 3]) are mutable as elements can be modified, whereas tuples ((1, 2, 3)) are immutable because their content cannot be altered.


### Q3. What are the main differences between lists and tuples in Python ?

Answer: The main differences are:
i. Mutability: Lists are mutable, while tuples are immutable.
ii. Performance: Tuples are faster due to immutability.
iii. Usage: Lists are used for dynamic data, and tuples for fixed data.

### Q4. Describe how dictionaries store data ?

Answer: Dictionaries store data as key-value pairs in an unordered manner. Each key is unique and maps to a specific value, allowing fast data retrieval based on the key. For example, {"name": "Alice", "age": 25} stores data for quick access by keys like "name".

### Q5. Why might you use a set instead of a list in Python ?

Answer: You might use a set instead of a list in Python because:

No Duplicates: A set automatically removes duplicate values, while a list can have duplicates.
Faster Search: Sets are quicker when checking if an item is in the set.
Unordered: Sets don't care about the order of items, so if order doesn’t matter, a set is a good choice.

### Q6. What is a string in Python, and how is it different from a list ?

Answer: A string in Python is a sequence of characters enclosed in quotes (e.g., "hello"). Unlike a list, which can store various data types and is mutable, a string is immutable and specifically designed for text manipulation.

    
### Q7.  How do tuples ensure data integrity in Python ?
                                                                                                                        
Answer: Tuples ensure data integrity by being immutable, meaning their elements cannot be modified after creation. This makes them ideal for storing fixed data that should remain constant throughout a program.


### Q8. What is a hash table, and how does it relate to dictionaries in Python ?

Answer: A hash table is a data structure that stores key-value pairs and uses a special function (called a hash function) to convert the key into an index where the value is stored. This allows for fast lookups, insertions, and deletions.

### Q9: Can lists contain different data types in Python ?
                                                                                                                                                                                                                                               
Answer : Yes, lists in Python can contain different data types. A list can hold a mix of numbers, strings, booleans, or even other lists.

### Q10. Explain why strings are immutable in Python ?
Answer: Strings are immutable in Python because once they are created, their content cannot be changed. This helps make programs faster and safer by preventing accidental changes to the data. If you need to modify a string, Python creates a new string with the changes instead of changing the original one.

### Q11. What advantages do dictionaries offer over lists for certain tasks ?

Answer: Dictionaries offer several advantages over lists for certain tasks:

Faster Lookups: You can quickly find a value using a key in a dictionary, while with a list, you have to search through all the items.

Key-Value Pairs: Dictionaries store data as key-value pairs, making it easier to organize and access data based on a specific key, unlike lists which just store values in order.

No Duplicates for Keys: In a dictionary, each key is unique, so you don't need to worry about duplicate keys, while lists can have duplicate items.

### Q12. Describe a scenario where using a tuple would be preferable over a list ?
                                                                                                                        
Answer: A tuple would be better than a list if you need to store data that should not be changed. For example, if you're storing a date (like year, month, day), you don’t want the values to change by accident.

### Q13. How do sets handle duplicate values in Python ?

Answer: Sets automatically remove duplicate values. If you try to add a duplicate value to a set, it will only keep one copy of that value.

### Q14.How does the “in” keyword work differently for lists and dictionaries ?

Answer: The in keyword works differently for lists and dictionaries in Python:

For lists: It checks if a value is present in the list.
For dictionaries: It checks if a key is present in the dictionary, not the value.

### Q15. Can you modify the elements of a tuple? Explain why or why not ?

Answer: No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This is to protect the data from being accidentally changed.

### Q16. What is a nested dictionary, and give an example of its use case ?

Answer: A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to organize data in multiple layers.

Example: students = {
    "Millan": {"age": 20, "grades": [85, 90, 88]},
    "Rex": {"age": 22, "grades": [78, 82, 80]},
}

Use case:
You can access specific information about a student, like Bob's age, by using the student's name as the key, and then the age key inside that student's dictionary.

Example: print(students["Rex"]["age"])

### Q17.Describe the time complexity of accessing elements in a dictionary ?

Answer: Accessing elements in a dictionary is very fast and has a time complexity of O(1), which means it takes the same amount of time no matter how many items are in the dictionary.

This is because dictionaries use a special method (hashing) to find the value quickly using the key.

### Q18.  In what situations are lists preferred over dictionaries ?

Answer: Lists are preferred over dictionaries in situations where:

Order matters: If you need to keep items in a specific order, use a list.

Index-based access: If you need to access items by their position (like the first, second, etc.), lists are better.

Storing similar items: If you're storing a collection of similar items (like numbers or names), a list is a good choice.

### Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answer: Dictionaries are considered unordered because the key-value pairs are not stored in any specific sequence, unlike lists. This means that when you iterate over a dictionary, the order of elements may not be the same as when they were added. However, this does not affect data retrieval, as dictionaries provide fast access to values using keys, regardless of order.


### Q20.  Explain the difference between a list and a dictionary in terms of data retrieval ?

Answer:  In a list, data is retrieved by its index, which is an integer position, while in a dictionary, data is retrieved using a unique key. Lists require sequential searching, making access slower for large datasets, while dictionaries provide faster O(1) average-time access through hashing of keys.

# **PRATICAL QUESTIONS**

In [2]:
### Q1. Write a code to create a string with your name and print it ?

#Answer:

my_name = "Vishal Sharma"
print(my_name)

Vishal Sharma

In [ ]:
### Q2. Write a code to find the length of the string "Hello World" ?

#Answer:

my_string = "Hello World"
length = len(my_string)
print(length)

11

In [ ]:
## Q3. Write a code to slice the first 3 characters from the string "Python Programming" ?

#Answer:

my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

In [ ]:
### Q4. Write a code to convert the string "hello" to uppercase ?

# Answer

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

In [ ]:
### Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

#Answer:

my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
### Q6. Write a code to create a list with numbers 1 to 5 and print it ?

#Answer:

my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
### Q7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?
#Answer:

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
###Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

# Answer:

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
### Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

#Answer:

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
### Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

#Answer:

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
### Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it ?

# Answer:

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
### Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

#Answer:

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [ ]:
### Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

# Answer:

my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [ ]:
### Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

#Answer:

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
### Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

#Answer:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

In [ ]:
### Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

#Answer:

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
### Q17:  Write a code to add the element 6 to the set {1, 2, 3, 4}.

#Answer:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [ ]:
### Q18: Write a code to create a tuple with the elements 10, 20, 30 and print it.

# Answer:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [ ]:
### Q19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

#Answer:

my_tuple = ('apple', 'banana', 'cherry')
first_element = my_tuple[0]
print(first_element)

apple

In [ ]:
### Q20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

#Answer:

my_tuple = (1, 2, 3, 2, 4, 2)
count_of_2 = my_tuple.count(2)
print(count_of_2)

3

In [ ]:
### Q21: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

#Answer:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [ ]:
### Q22: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

#Answer:
my_tuple = ('apple', 'orange', 'banana')
is_banana_in_tuple = 'banana' in my_tuple
print(is_banana_in_tuple)

True

In [ ]:
### Q23: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

#Answer:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [1]:
### Q24: Write a code to add the element 6 to the set {1, 2, 3, 4}.

#Answer:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}